* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x : hidden;
}
/* Navbar */

nav {
  display: flex;
  background-color: rgb(13, 69, 190);
  justify-content: space-between;
  padding: 12px;
  height: 60px;
  align-items: center;
  color: rgb(230, 234, 241);
  border-bottom: 2px solid #fff;
}

nav .logo {
    font-size: 2em;
    font-family: 'Times New Roman', sans-serif;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: rgb(199, 207, 223);
  text-decoration: none;
  font-size: 1em;
}

nav ul li a:hover {
    color : rgb(255, 255, 255);
}


/* Hamburger Menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    transition: all .5s;
    background-color:  rgb(199, 207, 223);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* Animations Hamburger*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    -webkit-transform: rotate(45deg) translate(-1px, -1px);
    -moz-transform: rotate(45deg) translate(-1px, -1px);
    -ms-transform: rotate(45deg) translate(-1px, -1px);
    -o-transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
    -webkit-transform: rotate(-45deg) translate(-1px, 0);
    -moz-transform: rotate(-45deg) translate(-1px, 0);
    -ms-transform: rotate(-45deg) translate(-1px, 0);
    -o-transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}




/* Responsive */
/* Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

    .menu-toggle{
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: rgb(13, 69, 190);
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        width: 60%;
        transform: translateX(100%)    ;
        -webkit-transform: translateX(100%)    ;
        -moz-transform: translateX(100%)    ;
        -ms-transform: translateX(100%)    ;
        -o-transform: translateX(100%)    ;
        opacity: 0;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -ms-transition: 1s all;
        -o-transition: 1s all;
}

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    .menu-toggle {
        display: flex;
    }
}